<!DOCTYPE html>
<html>
<head>
 <title>Cards</title>
</head>

<link rel="stylesheet" href="style.css">
    
    <body>

<div class="main">
<div class="heading" font-size="40px">
Choose your order
</div>
 <!--cards -->

<div class="card">
<div class="title">
    <br>
 <h1>Restaurant Name: JW Marriot</h1>
 <br>
 <h1>Restaurant Location: Juhu West</h1>
 <br>
 <h1>Restaurant Contact: +91 9820235755 </h1>
 <br>
 <h1>Food Items: Roti, Butter Chicken </h1>
 <br>
 <h1>Quantity:40 people </h1>
 <br>
</div>
<div class="des">
<button>Place Order</button>

</div>
</div>
<!--cards -->

<div class="card">
    <div class="title">
        <br>
     <h1>Restaurant Name: Courtyard </h1>
     <br>
     <h1>Restaurant Location: Andheri</h1>
     <br>
     <h1>Restaurant Contact: +91 7977815264</h1>
     <br>
     <h1>Food Items: Rice, Dal, Sabji</h1>
     <br>
     <h1>Quantity: 50 people</h1>
     <br>
    </div>
    <div class="des">
    <button>Place Order</button>
    
    </div>
    </div>
    <!--cards -->
    <div class="card">
        <div class="title">
            <br>
         <h1>Restaurant Name: Veg Sagar </h1>
         <br>
         <h1>Restaurant Location: Bhayandar</h1>
         <br>
         <h1>Restaurant Contact: +91 798727578</h1>
         <br>
         <h1>Food Items: Chicken Biryani</h1>
         <br>
         <h1>Quantity: 20 people</h1>
         <br>
        </div>
        <div class="des">
        <button>Place Order</button>
        
        </div>
        </div>

</div>
</div>
</div>
</body>
</html>